name: build

on:
  push:
    branches:
      - master
      - conversation
      - echo
      - exception-handling
      - poll
      - heroku
      - ktor-webhook
      - spring-bot
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: 11

      - name: Build with Gradle
        uses: eskatos/gradle-command-action@v2
        with:
          gradle-version: current
          arguments: build